body {
  font-family: 'Nunito Sans';
  color: var(--black);

  & header {
    height: 85vh;
  }

  & main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    
    & h1 {
      width: 100%;
      font-size: clamp(2.1rem,5vw,3.5rem);
      color: var(--title);
      font-family: 'Kiwi Maru';
      padding-top: 2%;
      padding-bottom: 4%;
      background: url(../img/triangle.svg);
    }

    & #celebs_cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4vh;

      & article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        gap: 2vh;

        & section {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.75vh;

          & figure {
            position: relative;

            & img {
              width: 50vw;
            }

            & img:nth-child(2) {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }

          & .celeb-info {
            flex-flow: row wrap;
            width: 80vw;

            & .name_rating {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 100%;

              & h2, p {
                width: max-content;
              }
  
              & star-rating{
                width: 25%;
              }
            }
          
            & p {
              width: 75%;
              font-size: clamp(1.2rem,5vw,1.5rem);
            }
          }
        }
      }

      & hr { 
        background: url('../img/leaf.png') no-repeat center center;
        background-size: contain;
        display: block;
        height: 5vh;
        width: 85%;
        border: 0;
        position: relative;

        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          background: #d7d7d7;
          height: 2px;
          top: 45%;
        }

        &:before {
          left: 0;
          right: 50%;
          margin-right: 30px;
        }
        
        &:after {
          right: 0;
          left: 50%;
          margin-left: 30px;
        }
      }
    }
  }
}


/* ------ Media queries ------ */
@media screen and (min-width: 950px) {
  body main #celebs_cont article {
    flex-direction: row;
    gap: 5vw;

    & section {
      width: 50%;

      & article.reverse {
        flex-direction: row-reverse;
      }
    }

    & p {
      font-size: clamp(1rem,4vw,1.5rem);
    }
  }
}

/* ------ Animations ------ */

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(-10%);
  transition: all 1s;
  transition-delay: 0.25s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}