main {
  position: relative;
  z-index: 1;  
}

main::before {
    background-image: url(https://cdn.discordapp.com/attachments/1354020112268791830/1374030265910956083/3b2a1470-8d16-4074-8f6c-dd0e0dc11d2e.png?ex=682d39a7&is=682be827&hm=a2d9f5b5ba8c059e50a5b1926ebc8420bd001f10782532fcb97ae2066c49426d&);
    background-size: cover;
    content: " ";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    opacity: .4; 
    z-index: -1;
}

.general {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.toto {
    width: calc(100% - 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.sous-t {
    font-size: 7em;
    color: #c6c753;
    font-family: Alegreya;
    text-decoration: underline;
}

.sous-t1 {
    color: #000000;
    font-size: 2.7em;
    font-family: Nunito Sans;
    text-decoration: underline;
}

.sous-t2 {
    color: #000000;
    font-size: 1.7em;
    font-family: Nunito Sans;
}

.photo {
   display: flex; 
   flex-direction: column;
   gap: 25px;
   margin-top: 5%;
}

.picture1, .picture2 {
    width: 25vw;
    border: solid 0.5em;
    border-radius: 15%;
    border-color: #c6c753;
}

.next {
    width: 100%;
    z-index: 1;
    position: relative;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.abt-titre {
    font-size: 6em;
    color: #c6c753;
    text-decoration: underline;
}

.dedans {
    width: 80%;
    height: 40vh;
    border: solid 0.6em;
    border-color: #c6c753;
    border-radius: 30px;
    object-fit: cover;
    object-position: 0 69%;
}

.sous-d {
    width: 70%;
    font-size: 1.5em;
    text-align: center;
}

.cordonnee {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    padding-bottom: 20px;
}

.adresse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.adresse1 {
    font-size: 1.4em;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.numero1 {
    font-size: 1.4em;
}

.icon1, .icon2 {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 815px) {
    .sous-t {
        font-size: 3em;
    }

    .sous-t1 {
        font-size: 1.8em;
    }

    .sous-t2 {
        font-size: 1.3em;
    }
    .picture1, .picture2 {
        width: 30vw;
    }
}

@media screen and (max-width: 700px) {
    .general {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .toto {
    gap: 20px;
    }

    .sous-t {
        font-size: 2em;
    }

    .sous-t1 {
        font-size: 1.5em;
    }

    .sous-t2 {
        font-size: 0.8em;
    }

    .photo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .picture1, .picture2 {
        width: 70%;
    }
    
    .about {
        display: flex;
        flex-direction: column;
    }
    .abt-titre {
        font-size: 3em;
        margin-top: 20PX;
    }

    .dedans{
        order: 1;
    }

    .cordonnee {
        display: flex;
        flex-direction: column;
    }

    .numero, .adresse {
        justify-content: left;
        margin-left: 60px;
    }

}
    