h1 {
    width: 100%;
    text-align: center;
    font-size: clamp(2.1rem,5vw,3.5rem);
    color: #c6c753;
    padding-top: 2%;
    padding-bottom: 4%;
    background: url(../img/triangle.svg);
}


.rooms0, .rooms1, .rooms2, .rooms3 {
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

main img {
    border: 0.5em solid #c6c753;
    border-radius: 4em;
    cursor: pointer;
}

.room-pic {
    width: 50%;
}

.room-pic:nth-child(2n+1) {
    order: 1;
}

.room-text {
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;	
}

h2 {
    font-size: clamp(1.5rem,5vw,2.5rem);
    color: #c6c753;
}

h3 {
    font-size: 1.7em;
}

p {
    font-size: clamp(1rem,4vw,1.5rem);
}

h3:hover {
    background-color: #0a3b42;
    color: white;
    padding: 10px 20px;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.5s;
}

.rooms0 {
    position: relative;
    animation: leftToRight 2s ease-in-out forwards;
}

.rooms1 {
    position: relative;
    animation: rightToLeft 2s ease-in-out forwards;
}

.rooms2 {
    position: relative;
    animation: leftToRight 2s ease-in-out forwards;
}

.rooms3 {
    position: relative;
    animation: rightToLeft 2s ease-in-out forwards;
}


@keyframes leftToRight {
    from {
      transform: translateX(-100px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes rightToLeft {
    from {
      transform: translateX(100px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@media screen and (max-width: 700px) {
    .room-pic {
        width: 10%;
    }
    
}
    
@media screen and (max-width: 815px) {}
    