@font-face {
  font-family: "Lemon Tuesday";
  src: url(../fonts/Lemon_Tuesday.otf);
}

body {
  background-color: #eee;
  font-family: 'Arial', sans-serif;

  & main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h1 {
      font-family: 'Lemon Tuesday';
    }

    & article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      padding: 2vh 0;

      & img {
        width: 90%;
        border: 0.5rem solid #fff;
        border-radius: 4vh;
        background-image: url();
      }

      & h2 {
        font-size: 2rem;
        font-family: 'Lemon Tuesday';
      }
    }
  }
}
