body {
  font-family: 'Nunito Sans';
  color: var(--black);

  & header {
    height: 85vh;
  }

  & main {
    text-align: center;
    
    & h1 {
      font-size: clamp(2.1rem,5vw,3.5rem);
      color: var(--title);
      font-family: 'Kiwi Maru';
      padding-top: 2%;
      padding-bottom: 4%;
      background: url(../img/triangle.svg);
    }

    & #act_h1 {
      margin-top: 4vh;
    }
    
    & h3 {
      margin: 1% 5%;
    }

    & section {
      display: flex;
      flex-direction: column;
      align-items: center;

      & article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 2vh 0;
  
        & section {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5vh;
  
          & img {
            width: 100%;
            border: 0.5rem solid var(--accent1);
            border-radius: clamp(20px, 5vw, 40px);
            background-image: url();
          }
    
          & h2 {
            position: absolute;
            bottom: 0;
            color: var(--white);
            background-color: var(--title);
            transform: translateY(50%);
            border-radius: 10px;
            font-size: clamp(1.6rem,4.5vw,3rem);
            font-family: 'Kiwi Maru';
            padding: 1.5% 2%;
          }
        }
  
  
        & p {
          font-size: clamp(1rem, 2vw, 1.25rem);
        }
      }
    }
  }
}


/* ------ Media Queries ------ */

@media screen and (min-width: 650px) {
  body main section {
    flex-flow: row wrap;
    justify-content: space-evenly;

    & article {
      width: 42.5%;

      & section {
        & h2 {
          font-size: clamp(1.5rem,3.25vw,1.9rem);
        }

        & p {
          font-size: clamp(0.9rem, 1vw, 1.15rem);
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  body main {
    & h3 {
      margin: 2vh;
    }
    
    & section article {
      width: 28%;
      margin-bottom: 4vh;

      & section h2 {
        font-size: clamp(1.4rem,2.5vw,1.9rem);
      }
    }
  }
}


/* ------ Animations ------ */

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(-10%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}